xml-data/swish-123-datasource.dtd

<!ELEMENT root (entries)>
<!ELEMENT entries (entry+)>
<!ELEMENT entry (organization, categories?, web)>
<!ATTLIST entry
          number CDATA #REQUIRED>
<!ELEMENT organization (name, number)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT categories (category+)>
<!ELEMENT category (#PCDATA)>
<!ATTLIST category
          type CDATA #REQUIRED>
